# EditorConfig helps maintain consistent coding styles
# https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

# YAML files - 2 space indent (Kubernetes standard)
[*.{yaml,yml}]
indent_size = 2

# JSON files
[*.{json,json5}]
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
indent_size = 2

# Taskfiles
[Taskfile.yaml]
indent_size = 2

# Shell scripts
[*.sh]
indent_size = 2

# Makefiles require tabs
[Makefile]
indent_style = tab

# Terraform files
[*.{tf,tfvars}]
indent_size = 2
